$border-color: (
    'white-1': #e0e0e0,
    'gray-1': #ccc,
);

$text-color: (
    'white': #fff,
    'white-1': #EAEAEA,
    'blue-1': #2cc8f7,
    'gray-1': #424242
);

$bgr-color: (
    'white': #ffffff,
    'white-1': #F3F4F6,
    'black': #000000,
    'black-1': #33373B,
);